*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI';
}



img {
    /* margin-left: -40px; */
}

.khoinho.tren {
    margin-top: 20px;
    /* left: 6px; */
}

.khoinho {
    /* left: 163px; */
    /* right: -147px; */
}

h4 {font-size: 20px;/* margin-left: -65px; */font-weight: bold;margin-top: 0px;/* text-align: center; */justify-content: center;display: flex;/* display: block; */box-sizing: border-box;}

h4 {}

p {
    font-weight: bold;
}


body, html{
    /* background-color:  #3E3A71; */
    background-color: gray;
    width: 100%;
    overflow-x: hidden;
    z-index: 1;

}
/* css cho navbar */
.navbar{
    background-color: white;
    height: 130px;
    width: 100%;
    padding: 50px 0px;
    transition: all 0.4s ease-in-out;
    /* position: fixed;
    top: 0;
    left: 0; */


}
.giunguyen {
    position: fixed;
    box-shadow: 0px 5px 15px rgba(0,0, 0, 0.5);
}
.navbar .container {
    display: flex;
    box-sizing: border-box;

}

.navbar  .container ._1cot.logo {

    width: 33.33%;

}
.navbar .container ._1cot.logo .navbar_brand img {
    width: 60%;
}
.navbar .container ._1cot.form_timkiem{
    width: 33.33%;
    display: flex;

}

.navbar .container ._1cot.form_timkiem .input{
    width: 90%;
    border-style: none;


}

.navbar .container ._1cot.form_timkiem .icon{
    /* display: inline-block; */
    margin-left: 0px;
    width: 10%;

}

.navbar .container ._1cot.dangnhap_dangky{
    width: 33.33%;
    margin-left: 100px;
    margin-right: 0px;
    display: flex;
    font-size: 14px;

}


.navbar .container ._1cot.dangnhap_dangky .btn-secondary{
    width: 42px;
    height: 40px;
    background-color: #878388;
    border: #cacaca;

}

.navbar .container ._1cot.dangnhap_dangky .btn-secondary:hover{
    color:  #3E3A71;

}


a.dropdown-item {
    background: #3E3A71;
    border-radius: 4px;
    font-size: 14px;
    color: white;
    padding: 9px;
}
.dropdown-menu {
    padding: 11px;
    width: 236px;
}
.dropdown-menu .dropdown-item:hover {
    background-color: #878388;
    color: white;

}
.cart-amount{
    height: 18px;
    width: 18px;    border-radius: 50%;
    background: #CF111A;
    font-size: 12px;
    position: relative;
    left: 19px;
    bottom: 32px;
}
.duoiheader{
    background-color: #3E3A71;
    height: 50px;
    width: 100%;
    padding: 15px 0px;
    box-sizing: border-box;
    display: block;
    transition: 0.4s;
}
.duoiheader .row{
    color: white;
    display: flex;
    width: 100%;

}

.col {
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;

}
.duoiheader .row .col a{
    color: white;
    margin-right: 10px;
    text-decoration: none;
}




.pushdy-widget-button {
    margin: 5px auto;
    cursor: pointer;
    background-size: 100%;
    border-radius: 50%;
    position: relative;

}

span.pd-label.pd-tel.pd-tooltip-text {
    margin-left: -85px;
    border-radius: 5px;
    padding: 7px 7px;
    position: absolute;
    opacity: 0;
}
.pushdy-widget-button.pd-tel:hover span{
    opacity: 1;
    transition: 0.5s;

}
.pd-overlay{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    display: none;
}
.pd-shadow{
    background-color: #2f2f2f;
    opacity: .3;
    width: 100%;
    height: 100%;
}
.pd-tel-window {
    width: 95%!important;
    max-width: 438px;
    position: absolute;
    height: auto!important;
    background-color: #fff!important;
    -webkit-animation-name: aml-ease-in-out;
    -webkit-animation-duration: .5s;
    animation-name: aml-ease-in-out;
    animation-duration: .5s;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    border-radius: 15px!important;
    -webkit-box-shadow: 0 0 16px 0 rgba(0,0,0,.16)!important;
    box-shadow: 0 0 16px 0 rgba(0,0,0,.16)!important;
    overflow: hidden;
}

.pd-close-tawk {
    width: 22px;
    height: 22px;
    line-height: 0;
    padding: 0!important;
    background-image: url(https://sdk.pushdi.com/image/ico/icon_close.png);
    cursor: pointer;
}


.pd-close, .pd-close-tawk {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
.pd-tel-window .pd-body {
    padding-top: 28px;
}
.pd-body{
    font-size: 15px;
    color: #707070;
    line-height: 18px;
    content: "";
    clear: both;
    display: block;
    height: 100%;
    padding: 0;
}
