*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;   
}
body, html{
    /* background-color:  #3E3A71; */
    background-color: gray;
    width: 100%;

}
/* css cho navbar */
.navbar{
    background-color: white;
    height: 150px;
    width: 100%;
    padding: 50px 0px;

}
.navbar .container {
    display: flex;


}

.navbar  .container ._1cot.logo {

    width: 33.33%;

}
.navbar .container ._1cot.logo .navbar_brand img {
    width: 80%;
}
.navbar .container ._1cot.form_timkiem{
    width: 33.33%;
    display: flex;

}

.navbar .container ._1cot.form_timkiem .input{
    width: 90%;
    border-style: none;


}

.navbar .container ._1cot.form_timkiem .icon{
    /* display: inline-block; */
    margin-left: 0px;
    width: 10%;

}

.navbar .container ._1cot.dangnhap_dangky{
    width: 33.33%;
    margin-left: 100px;
    margin-right: 0px;
    display: flex;
    font-size: 14px;

}


.navbar .container ._1cot.dangnhap_dangky .btn-secondary{
    width: 42px;
    height: 40px;
    background-color: #878388;
    border: #cacaca;

}

.navbar .container ._1cot.dangnhap_dangky .btn-secondary:hover{
    color:  #3E3A71;

}


a.dropdown-item {
    background: #3E3A71;
    border-radius: 4px;
    font-size: 14px;
    color: white;
    padding: 9px;
}
.dropdown-menu {
    padding: 11px;
    width: 236px;
}
.dropdown-menu .dropdown-item:hover {
    background-color: #878388;
    color: white;

}
.cart-amount{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #CF111A;
    font-size: 12px;
    position: relative;
    left: 19px;
    bottom: 32px;
}
.duoiheader-expand{
    background-color: #3E3A71;
    height: 50px;
    width: 100%;
    padding: 15px 0px;
}
.duoiheader-expand .row{
    margin-left: 100px;
    color: white;
    display: flex;
    width: 100%;
}
.duoiheader-expand .row .col{
    display: flex;
    width: 200px;
    
}

.duoiheader-expand .row .col a{
    color: white;
    margin-right: 10px;
    text-decoration: none;
}