*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;   
}
body, html{
    /* background-color:  #3E3A71; */
    background-color: gray;
    width: 100%;
    overflow-x: hidden;

}
/* css cho navbar */
.navbar{
    background-color: white;
    height: 130px;
    width: 100%;
    padding: 50px 0px;
    transition: all 0.4s ease-in-out;
    /* position: fixed;
    top: 0;
    left: 0; */


}
.giunguyen {
    position: fixed;
    box-shadow: 0px 5px 15px rgba(0,0, 0, 0.5);
}
.navbar .container {
    display: flex;
    box-sizing: border-box;

}

.navbar  .container ._1cot.logo {

    width: 33.33%;

}
.navbar .container ._1cot.logo .navbar_brand img {
    width: 60%;
}
.navbar .container ._1cot.form_timkiem{
    width: 33.33%;
    display: flex;

}

.navbar .container ._1cot.form_timkiem .input{
    width: 90%;
    border-style: none;


}

.navbar .container ._1cot.form_timkiem .icon{
    /* display: inline-block; */
    margin-left: 0px;
    width: 10%;

}

.navbar .container ._1cot.dangnhap_dangky{
    width: 33.33%;
    margin-left: 100px;
    margin-right: 0px;
    display: flex;
    font-size: 14px;

}


.navbar .container ._1cot.dangnhap_dangky .btn-secondary{
    width: 42px;
    height: 40px;
    background-color: #878388;
    border: #cacaca;

}

.navbar .container ._1cot.dangnhap_dangky .btn-secondary:hover{
    color:  #3E3A71;

}


a.dropdown-item {
    background: #3E3A71;
    border-radius: 4px;
    font-size: 14px;
    color: white;
    padding: 9px;
}
.dropdown-menu {
    padding: 11px;
    width: 236px;
}
.dropdown-menu .dropdown-item:hover {
    background-color: #878388;
    color: white;

}
.cart-amount{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #CF111A;
    font-size: 12px;
    position: relative;
    left: 19px;
    bottom: 32px;
}
.duoiheader{
    background-color: #3E3A71;
    height: 50px;
    width: 100%;
    padding: 15px 0px;
    box-sizing: border-box;
    display: block;
    transition: 0.4s;
}
.duoiheader .row{
    color: white;
    display: flex;
    width: 100%;

}

.col {
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;

}
.duoiheader .row .col a{
    color: white;
    margin-right: 10px;
    text-decoration: none;
}








