*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI';
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}
  
#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

img {
    /* margin-left: -40px; */
}

.khoinho.tren {
    margin-top: 20px;
    /* left: 6px; */
}

.khoinho {
    /* left: 163px; */
    /* right: -147px; */
}

h4 {font-size: 20px;/* margin-left: -65px; */font-weight: bold;margin-top: 0px;/* text-align: center; */justify-content: center;display: flex;/* display: block; */box-sizing: border-box;}

h4 {}

p {
    font-weight: bold;
}


body, html{
    /* background-color:  #494679; */
    background-color: gray;
    width: 100%;
    overflow-x: hidden;
    z-index: 1;

}
/* css cho navbar */
.navbar{
    background-color: white;
    height: 130px;
    width: 100%;
    padding: 50px 0px;
    transition: all 0.4s ease-in-out;
    /* position: fixed;
    top: 0;
    left: 0; */


}
.giunguyen {
    position: fixed;
    box-shadow: 0px 5px 15px rgba(0,0, 0, 0.5);
}
.navbar .container {
    display: flex;
    box-sizing: border-box;

}

.navbar  .container ._1cot.logo {

    width: 33.33%;

}
.navbar .container ._1cot.logo .navbar_brand img {
    width: 60%;
}
.navbar .container ._1cot.form_timkiem{
    width: 33.33%;
    display: flex;

}

.navbar .container ._1cot.form_timkiem .input{
    width: 90%;
    border-style: none;


}

.navbar .container ._1cot.form_timkiem .icon{
    /* display: inline-block; */
    margin-left: 0px;
    width: 10%;

}

.navbar .container ._1cot.dangnhap_dangky{
    width: 33.33%;
    margin-left: 100px;
    margin-right: 0px;
    display: flex;
    font-size: 14px;

}


.navbar .container ._1cot.dangnhap_dangky .btn-secondary{
    width: 42px;
    height: 40px;
    background-color: #878388;
    border: #cacaca;

}

.navbar .container ._1cot.dangnhap_dangky .btn-secondary:hover{
    color:  #494679;

}


a.dropdown-item {
    background: #494679;
    border-radius: 4px;
    font-size: 14px;
    color: white;
    padding: 9px;
}
.dropdown-menu {
    padding: 11px;
    width: 236px;
}
.dropdown-menu .dropdown-item:hover {
    background-color: #878388;
    color: white;

}
.cart-amount{
    height: 18px;
    width: 18px;    border-radius: 50%;
    background: #CF111A;
    font-size: 12px;
    position: relative;
    left: 19px;
    bottom: 32px;
}
.duoiheader{
    background-color: #494679;
    height: 50px;
    width: 100%;
    padding: 15px 0px;
    box-sizing: border-box;
    display: block;
    transition: 0.4s;
}
.duoiheader .row{
    color: white;
    display: flex;
    width: 100%;

}

.col {
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;

}
.duoiheader .row .col a{
    color: white;
    margin-right: 10px;
    text-decoration: none;
}




.pushdy-widget-button {
    margin: 5px auto;
    cursor: pointer;
    background-size: 100%;
    border-radius: 50%;
    position: relative;

}

span.pd-label.pd-tel.pd-tooltip-text {
    right: 60px;
    border-radius: 5px;
    padding: 7px 7px;
    position: absolute;
    opacity: 0;
}
.pushdy-widget-button.pd-tel:hover span{
    opacity: 1;
    transition: 0.5s;

}
.pd-overlay{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* để lên cao nó sẽ kh tác động đc phía dưới */
    z-index: 999999; 
    display: none;
}
.pd-shadow{
    background-color: #2f2f2f;
    opacity: .3;
    width: 100%;
    height: 100%;
}
.pd-tel-window {
    width: 95%!important;
    max-width: 438px;
    position: absolute;
    height: auto!important;
    background-color: #fff!important;
    -webkit-animation-name: aml-ease-in-out;
    -webkit-animation-duration: .5s;
    animation-name: aml-ease-in-out;
    animation-duration: .5s;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    border-radius: 15px!important;
    -webkit-box-shadow: 0 0 16px 0 rgba(0,0,0,.16)!important;
    box-shadow: 0 0 16px 0 rgba(0,0,0,.16)!important;
    overflow: hidden;
}

.pd-close-tawk {
    width: 22px;
    height: 22px;
    line-height: 0;
    padding: 0!important;
    background-image: url(https://sdk.pushdi.com/image/ico/icon_close.png);
    cursor: pointer;
}


.pd-close, .pd-close-tawk {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
.pd-tel-window .pd-body {
    padding-top: 28px;
}
.pd-body{
    font-size: 15px;
    color: #707070;
    line-height: 18px;
    content: "";
    clear: both;
    display: block;
    height: 100%;
    padding: 0;
}
.pd-tel-head {
    padding: 0 28px 28px;
}
.pd-tel-head-title {
    max-width: 350px;
    /* font-family: 'Roboto',sans-serif!important; */
    font-size: 20px!important;
    font-weight: 700!important;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3!important;
    letter-spacing: normal;
    text-align: left;
    color: #36373a;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.pd-tel-phone-number {
    margin: 15px 0 0!important;
    padding: 0!important;
    max-height: 270px!important;
    overflow-y: auto!important;
    overflow-x: hidden!important;
}

.pd-tel-phone-number a{ 
    text-decoration: none;
    display: flex;

}
.pd-tel-phone-item {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-decoration: none;
    cursor: pointer;
}
.item-avt {
    background-image: url(https://sdk.pushdi.com/image/maxlead/icon-call-il.png);
    -webkit-box-shadow: 0 3px 10px 0 rgb(25 25 25 / 16%);
    box-shadow: 0 3px 10px 0 rgb(25 25 25 / 16%);
    border: solid .5px #ffdb78;
    background-color: #fffde6;
}
.item-avt, .item-avt-zalo {
    width: 40px!important;
    height: 40px!important;
    margin: auto 10px auto 0;
    border-radius: 13px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.item-inf {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-bottom: solid 1px #f5f5f5;
    width: calc(100% - 60px);
    padding: 15px 0;
}
.pd-tel-phone-item .item-inf p {
    font-weight: 500!important;
    color: #36373a;
}

.pd-tel-phone-item .item-inf span {
    font-weight: 400;
    color: #6a6a6a;
    text-decoration: none;
    margin-left: 0;
}
.pd-tel-phone-item .item-inf span, .pd-tel-phone-item .item-inf p {
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
}
.pd-tel-phone-item .item-inf span, .pd-tel-phone-item .item-inf p, .pd-tel-tail-title {
    font-family: 'Roboto',sans-serif!important;
    font-size: 18px!important;
    line-height: 1.33!important;
}
.pd-body p {
    margin: 0;
    line-height: 18px;
}

.pd-tel-tail {
    padding: 0 28px 12px;
}
.pd-tel-tail-title {
    font-weight: 700!important;
    font-stretch: normal!important;
    font-style: normal!important;
    letter-spacing: normal!important;
    text-align: left!important;
    color: #36373a;
}
.pd-body {
    font-size: 15px;
    color: #707070;
    line-height: 18px;
    content: "";
    display: table;
    clear: both;
    display: block;
    height: 100%;
    padding: 0;
}
.pd-body p {
    margin: 0;
}
.pd-tel-phone {
    position: relative;
    width: 100%!important;
    height: 48px!important;
    background: #fff!important;
    border: 1px solid #f3f3f3!important;
    -webkit-box-sizing: border-box!important;
    box-sizing: border-box!important;
    margin-top: 15px!important;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0!important;
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
    -webkit-box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    border-radius: 0 10px 10px 0!important;
}
.pd-body p {
    margin: 0;
    line-height: 18px;
}
.pd-p-error {
    font-family: "Roboto",sans-serif;
    font-size: 13px;
    text-align: center;
    color: red;
    margin-top: 7px!important;
    height: 15px;
}


.pd-label.pd-tooltip-text {
    position: absolute;
    top: calc(50% - 16px);
    z-index: 1;
    -o-object-fit: contain;
    object-fit: contain;
    font-size: 12px!important;
    line-height: 16px!important;
    text-align: center;
    white-space: nowrap;
    border-radius: 4px;
    padding: 8px;
    -webkit-box-shadow: 0 6px 10px 0 rgb(0 0 0 / 9%);
    box-shadow: 0 6px 10px 0 rgb(0 0 0 / 9%);
    background-color: #fff;
    opacity: 0;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}

span.pd-label.pd-mail.pd-tooltip-text {
    border-radius: 5px;
    padding: 7px 7px;
    position: absolute;
    opacity: 0;
    /* margin-right: 106px; */
    right: 60px;
}
.pushdy-widget-button.pd-mail:hover span{
    opacity: 1;
    transition: 0.5s;

}